@import "../../global.scss";
.list
{
    
        font-size: 20px;
        margin-right: 50px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
        color:$textColorDark;
        &:hover{
            background-color: #a1dfdd;
        }
    
        &.active {
            background-color: #4d7372;
            color: white;
        }
    
}
