


.works {
    background-color: #afcecd;
   //background: linear-gradient(135deg, #f0f4f8, #88BDBC);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;



        &.left {
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 390px;

        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;


        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;



                .left {
                    flex: 7;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        
                        h1 {
                            font-size: 26px;
                           color:#0a2125;
                        }

                        h2 {
                            font-size: 19px;
                              color:#6e6658;
                            span {
                                margin-left: 5px;
                                font-size: 15px;
                                color: #628686;
                            }


                        }

                        p {
                            font-size: 15px;
                            color:#4f4a41;

                        }

                        
                    }
                }

                .right {
                    flex: 3;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 400px;

                    }
                }
            }
        }
    }
}